<div class="container">

  <h1>Welcome to Sinatra Vacation Project</h1>
  <img alt="" class="Family Vacation" src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage.shutterstock.com%2Fimage-vector%2Ffamily-vacation-collection-different-types-600w-561561373.jpg&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fimage-vector%2Ffamily-vacation-collection-different-types-recreation-561561373&tbnid=Q_0SvFGeZ-NmPM&vet=12ahUKEwjak-fL1ZLvAhV8gE4HHTfRCqUQMyghegUIARD5AQ..i&docid=mkCBujytULx26M&w=600&h=620&q=vacation%20types&ved=2ahUKEwjak-fL1ZLvAhV8gE4HHTfRCqUQMyghegUIARD5AQ" >
  
 

  <img src="http://www.great-er.org//img/the_top_10_places_to_visit.jpg" alt="The Top 10 Places To Visit In The World" width="620" height="325" align="center" hspace="10">

</div>
